<div class="text-center home">
  <h2>Welcome to Madam Ajebo's Bereau De Change</h2>
  <br/>

  <%= link_to "New Exchange", transactions_path, class: "btn btn-primary" %>

  <table class="table table-striped table-inverse mt-4 ">
    <thead class="thead-inverse">
      <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>Selling Currency</th>
        <th>Buying Currency</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <% if @transactions.count > 0 %>
          <% @transactions.each do |txn| %>
              <tr>
                <td scope="row"><%= txn.txn_id %></td>
                <td><%= txn.amount %></td>
                <td><%= txn.origin_currency %></td>
                <td><%= txn.destination_currency %></td>
                <td><%= txn.status %></td>
                <td><%= txn.created_at %></td>
              </tr>
          <% end %>
      <% else %>
        <tr>
          <td colspan="6">There are no transactions yet. <br> <%= link_to "New Exchange", transactions_path, class: "btn btn-link" %> </td>
          
        </tr>
      <% end %>      
      </tbody>
  </table>
</div>